.Header-container {
  text-align: center;
  padding-top: 35px;
  font-family: monospace;
}

.Header-text {
  padding-bottom: 20px;
}

.Header-link {
  margin: 0 20px;
  font-weight: 100;
  font-size: large;
  text-decoration: none;
  color:firebrick;
}

